p{
    font-family: sans-serif;
    color: rgb(0, 0, 39);
    font-style: italic;
    text-transform: lowercase;
}
h1,h2,h3,h4,h5,h6{
    font-size:medium;
    font-family: sans-serif;
    color: rgb(2, 0, 45);
    text-align:left
}
button{
    background-color: aqua;
    color: rgb(22, 209, 209);
    font-family: sans-serif;
    text-align: center;
}
